@import 'utilities/reset';
@import 'theme/colors';
@import 'utilities/flex';
@import 'utilities/typography';
@import 'utilities/box-shadow';
@import 'utilities/buttons';
@import 'utilities/images';
@import 'utilities/logo';
@import 'components/global/navigation';
@import 'components/global/header';
@import 'components/global/footer';
@import 'components/global/pageBanner';
@import 'components/global/socialMediaIcons';
@import 'components/global/form';
@import 'components/global/links';
@import 'theme/animations';
@import 'theme/typography';
@import 'theme/logo';
@import 'theme/links';
@import 'theme/header';
@import 'theme/footer';
@import 'theme/navigation';
@import 'theme/pagePortal';
@import 'theme/textmodule';
@import 'theme/buttons';
@import 'theme/pagewrap';
@import 'theme/siteintro';
@import 'theme/shapes';
@import 'theme/specialoffers';
@import 'theme/featuredImage';
@import 'theme/interiorPage';
@import 'theme/ajax';
@import 'theme/dentist';
@import 'theme/page-about';
@import 'theme/page-home';
@import 'theme/page-services';
@import 'theme/page-services';
@import 'theme/page-contact';
@import 'theme/gmap';
@import 'theme/sidebar';
@import 'theme/forms';

body.FlexContainer {
  background-color: $azuerieshwhite;
  background-image: url("../img/bg/bkgrnd_photos.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  background-attachment: fixed;
  flex-direction: column;
}
