a.btn {
  font-weight: 700;
  background-color: #fff;
  position: relative;
  color: $royalblue;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 15rem;
  text-align: center;
  transition: 0.1s ease-in-out !important;

  &:hover p {
    color: #fff;
  }
}

a.btn p {
  font-size: 1.2rem;
  margin: 0;
  position: relative;
  z-index: 2;
}

a.btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: $pearlaqua;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out !important;
  transform: translate(-50%, -50%);
  z-index: 1;
  left: 0;
}

a.btn:hover span {
  width: 225%;
  height: 562.5px;
}

a.btn.pearlaqua {
  color: $pearlaqua;

  span {
    background-color: $mandarin;
  }
}

a.btn.mandarin {
  color: $mandarin;
}
