.dentists.FlexContainer {
  max-width: 150.00rem;
  margin: 0 auto 15rem;
}

.dentists.FlexContainer .row {
  align-content: center;
  justify-content: center;
}

.dentists.FlexContainer .row:last-of-type .column {
  width: 22%;
  flex-basis: 22%;
  position: relative;
  z-index: 2;
  align-self: stretch;
}

.dentists.FlexContainer .row:first-of-type .column {
  width: 100%;
  flex-basis: 100%;
}

.dentists h2 {
  color: $pearlaqua;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10rem;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $pearlaqua;
    width: 55%;
    margin: 2rem auto;
  }
}

.dentist.column {
  background: #fff;
  margin: 0 1rem;
  transition: $transitionIn;
}

.dentist.column:hover  {
  transform: scale(1.2);
  z-index: 3 !important;
  @include box-shadow-all('rgba(44,62,80,.2)');
}

.dentist.column .dentistImage span.image {
  filter: grayscale(100%);
}

.dentist.column:hover .dentistImage span.image {
  filter: grayscale(0);
}

.dentistContent h5 {
  margin: 3rem 0 1rem 0;
  font-weight: 400;
  font-size: 2rem;
}

.dentistContent p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.dentists .inner {
  padding: 4rem;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  height: 100%;
  transition: $transitionIn;
}

.dentists .inner:before {
  content: '';
  background-color: $pearlaqua;
  height: 15rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: $transitionIn;
}

.dentists .inner .dentistImage {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}

.dentists .inner .dentistImage span.image {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.dentists .inner .dentistImage span.circle {
  display: block;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: $pearlaqua;
  opacity: 0.5;
  position: absolute;
  bottom: -1rem;
}

.page-id-102 .interiorPageContent {
  margin-bottom: 10rem;
}

.dentist.ajaxloader svg {
  margin-top: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dentists.ajaxcontent .inner-content {
  width: 90rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.dentists.ajaxcontent .dentist-name {
  color: $mandarin;
}

@media screen and (max-width: 1200px) {
  .dentists.FlexContainer .row:last-of-type .column {
    max-width: 45%;
    flex-basis:45%;
    margin-bottom: 2rem;
  }
  .dentists.FlexContainer .row:last-of-type .column:nth-of-type(3),
  .dentists.FlexContainer .row:last-of-type .column:nth-of-type(4) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .dentists.FlexContainer .row:last-of-type .column {
    max-width: 70%;
    flex-basis: 70%;
  }
  .dentists.FlexContainer .row:last-of-type .column:nth-of-type(3),
  .dentists.FlexContainer .row:last-of-type .column:nth-of-type(4) {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .dentists.FlexContainer .row:last-of-type .column {
    max-width: 80%;
    flex-basis: 80%;
  }
}

@media screen and (max-width: 400px) {
  .dentists.FlexContainer .row:last-of-type .column {
    max-width: 90%;
    flex-basis: 90%;
  }
}