.featuredImage {
  background-size: cover !important;
  background-position: center center !important;
  height: 50.0rem;
}

@media screen and (max-width: 1440px) {
  .featuredImage {
    height: 40.0rem;
  }
}

@media screen and (max-width: 1024px) {
  .featuredImage {
    height: 25.0rem;
  }
}