footer {
  background: #fff;
  color: $pearlaqua;
  position: relative;
  z-index: 2;
  padding: 3.5rem 0;
}

footer p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &:first-of-type {
    text-align: right;
  }
}

footer .FlexContainer .row {
  justify-content: space-between;
  align-items: center;
}

footer .FlexContainer .column:first-of-type {
  padding-left: 5rem;
}

footer .FlexContainer .column:last-of-type {
  padding-right: 5rem;
}

footer .logocontainer a {
  margin: 0;
  display: inline-block;
}

footer .sitelogo {
  width: 50%;

  circle {
    display: none;
  }

  path {
    fill: $pearlaqua;
  }
}

footer .logocontainer a:hover {
  path {
    fill: $mandarin;
  }
}
