footer {
  background: #fff;
  color: $pearlaqua;
  position: relative;
  padding: 3rem 0;
}

footer p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

footer .FlexContainer .row {
  align-items: center;
  justify-content: center;
}

footer .logocontainer a {
  margin: 0;
  display: inline-block;
}

footer .sitelogo {
  width: 140px;
  height: auto;

  circle {
     display: none;
  }

  path {
    fill: $pearlaqua;
  }

}

@media screen and (max-width: 900px) {
  footer .logocontainer {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  footer  {
    padding: 1rem 0;
  }
}