footer {
  background: #fff;
  color: $pearlaqua;
  position: relative;
}

footer p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

footer .FlexContainer .row {
  align-items: center;
  justify-content: center;
}

//footer .FlexContainer .row .column {
//  flex-basis: 50%;
//  max-width: 50%;
//}


footer .FlexContainer .column:last-of-type {
  padding-right: 5rem;
  text-align: right;
}

footer .logocontainer {
  text-align: right;
}

footer .logocontainer a {
  margin: 0;
  display: inline-block;
}

footer .sitelogo {
  width: 150px;
  height: 150px;

  circle {
    display: none;
  }

  path {
    fill: $pearlaqua;
  }
}

footer .logocontainer a:hover {
  path {
    fill: $mandarin;
  }
}

@media screen and (max-width: 1200px) {
  footer .logocontainer {
    text-align: left;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  footer .FlexContainer .column:last-of-type {
    padding-right: 1.5rem;
  }
  footer .address p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}