header {
  padding: 0 5rem;
  position: fixed;
  height: 10.5rem;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  transition: all 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  background-color: rgba(223, 242, 239, 1);
}

.column.navigationcontainer {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: 5rem;
}

header .logocontainer a {
  margin-top: -5rem;
  margin-left: 2rem;
}

@media screen and (max-width: 1600px) {
  header {
    padding: 0;
  }
}

@media screen and (max-width:600px) {
  header {
    padding:0;
    opacity: 1;
  }
}