header {
  padding: 0 5rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  height: 20.5rem;
  transition: all 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  height: 10.5rem;
  background-color: $azuerieshwhite;
  opacity: 0.8;
}

.column.navigationcontainer {
  align-self: center;
  margin-right: auto;
  margin-left: 10rem;
}

@media screen and (max-width:1099px) {
 header .column {
   flex-basis: 50% !important;
   max-width: 50% !important;
 }
}

@media screen and (max-width:600px) {
  header {
    padding:0;
    opacity: 1;
  }
}