.interiorPage .pageTitle {
  text-align: right;
  position: sticky;
  top: 8rem;
  z-index: 50;
}

.interiorPage .label.interior {
  position: relative;
  display: inline-block;
  transition: $transitionOut;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(10rem) rotate(90deg);
}

.interiorPage .label.interior.active {
  transition: $transitionIn;
  opacity: 1;
  transform: translateY(0) rotate(90deg);
}

.interiorPage .label.interior .hr {
  width: 0;
  transition: $transitionOut;
}

.interiorPage .label.interior.active .hr {
  transition: $transitionIn;
  transition-delay: 0.5s;
  width: 8rem;
}

.interiorPageContent {
  width: 100rem;
  max-width: 100%;
  margin: 0 auto 15rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.interiorPageContent h1 {
  font-size: 3rem;
}

.interiorPageContent h1,
.interiorPageContent h2,
.interiorPageContent h3,
.interiorPageContent h4,
.interiorPageContent h5,
.interiorPageContent h6 {
  color: $mandarin;
}

@media screen and (max-width: 1440px) {
  .interiorPageContent {
    width: 85rem;
  }
}

@media screen and (max-width: 1280px) {
  .interiorPageContent {
    width: 75rem;
  }
}

@media screen and (max-width: 1200px) {
  .interiorPage .specialoffers {
    position: absolute;
    top: 35rem;
  }
}

@media screen and (max-width: 1024px) {
  .interiorPageContent {
    margin-left: 8rem;
  }
  .interiorPage .specialoffers {
    top: 20rem;
  }
}

@media screen and (max-width: 950px) {
  .interiorPageContent {
    padding-right: 10rem;
  }
}

@media screen and (max-width: 850px) {
  .interiorPageContent {
    padding-right: 25rem;
  }
}

@media screen and (max-width: 600px) {
  .interiorPageContent {
    padding: 0 4rem;
    margin-left: 0;
    margin-top: 2rem;
  }
  .interiorPage .label.interior,.interiorPage .label.interior.active {
    transform: translateY(0);
    padding: 2rem;
  }
}