.interiorPage .pageTitle {
  text-align: right;
  position: sticky;
  top: 8rem;
  z-index: 50;
}

.interiorPage .label.interior {
  position: relative;
  display: inline-block;
  transition: $transitionOut;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(10rem) rotate(90deg);
}

.interiorPage .label.interior.active {
  transition: $transitionIn;
  opacity: 1;
  transform: translateY(0) rotate(90deg);
}

.interiorPage .label.interior .hr {
  width: 0;
  transition: $transitionOut;
}

.interiorPage .label.interior.active .hr {
  transition: $transitionIn;
  transition-delay: 0.5s;
  width: 8rem;
}

.interiorPageContent {
  max-width: 100rem;
  margin: 0 auto 15rem;
  position: relative;
  z-index: 2;
}

.interiorPageContent h1 {
  font-size: 3rem;
}

.interiorPageContent h1,
.interiorPageContent h2,
.interiorPageContent h3,
.interiorPageContent h4,
.interiorPageContent h5,
.interiorPageContent h6 {
  color: $mandarin;
}
