// site logo :

.sitelogo {
  width: 100%;
  height: auto;

  circle {
    fill: #81cdbf;
  }

  path {
    fill: #FFFFFF;
  }
}

.logocontainer a {
  position: relative;
  margin-top: -10rem;

  &:hover {
    animation: jello-horizontal 0.9s;
  }
}
