.Navigation.Mobile {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30rem;
  padding: 2rem;
  z-index: 1000;
  background-color: rgba(129, 205, 192, .95);
  opacity: 0;
  transform: translateX(-1000px);
  transition: all 300ms;
}

.HamburgerContainer .HamburgerMenuTitle {
  font-weight: 700;
  font-size: 1.4rem;
  font-style:normal;
}

.Navigation.Mobile.MobileOpen {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.Navigation.Mobile ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}

.Navigation.Mobile ul li {
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 0;
}

.Navigation.Mobile .close {
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 4.5rem;
}

.MobileMenuActive {
  overflow: hidden;
}

.MobileOpen ul li {
  animation: bounce-in-top 1.1s both;
}

.MobileOpen .close {
  animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: .5s;
}

.HamburgerContainer {
  transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.HamburgerContainer.MobileActive {
  opacity: 0;
}

.Hamburger .line {
  background-color: $mandarin;
}

@media screen and (max-width: 900px) {
  .HamburgerContainer {
    display: flex;
    align-items: center;
    background-color: rgba(223, 242, 239, .99);
    padding: 1rem 0 1rem 4rem;
  }
}