.Navigation.Mobile {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30rem;
  padding: 2rem;
  z-index: 1000;
  background-color: rgba(129, 205, 192, .8);
  opacity: 0;
  transform: translateX(-1000px);
  transition: all 300ms;
}

.HamburgerContainer .HamburgerMenuTitle {
  font-weight: 700;
  font-size: 1.4rem;
  font-style:normal;
}

.Navigation.Mobile.MobileOpen {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.Navigation.Mobile .close {
  cursor: pointer;
}

.MobileMenuActive {
  overflow: hidden;
}
.HamburgerContainer {
  transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.HamburgerContainer.MobileActive {
  opacity: 0;
}

.Hamburger .line {
  background-color: $mandarin;
}

@media screen and (max-width: 1185px) {
  .HamburgerContainer {
    display: flex;
    align-items: center;
    background-color: rgba(223, 242, 239, .8);
    padding: 1rem 0 1rem 4rem;
  }
}