.navigationcontainer nav {
  position: relative;

  li {
    margin-right: 3rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  li.current-menu-item a {
    border-bottom: 0.2rem solid $mandarin;
  }


  a {
    font-weight: 700;
    position: relative;
    color: $royalblue;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: .8rem;
    text-align: center;
    &:hover p {
      color: #fff;
    }
  }

  a p {
    margin: 0;
    position: relative;
    z-index: 2;
    line-height: 3rem;
    font-size: 1.8rem;
    transition: color ease-in-out !important;
  }

  a span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $mandarin;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out !important;
    transform: translate(-50%, -50%);
    z-index: 1;
    left: 0;
  }

  a:hover span,
  a:focus span {
    width: 225%;
    height: 562.5px;
  }
}

@media screen and (max-width: 1230px) {
  .column.navigationcontainer {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1185px) {
  .primaryNav {
    display: none;
  }
  .column.navigationcontainer {
    max-width: 65%;
    flex-basis: 65%;
  }
}

@media screen and (max-width:1099px) {
  .column.navigationcontainer {
    margin: 0;
  }
}