.page-id-18 .gmap {
  margin-bottom: 5rem;
}

.page-id-18 .map.FlexContainer {
  margin-top: -12rem;
}

.page-id-18 .map.FlexContainer .column {
  max-width: 100%;
  flex-basis: 100%;
}

.officehours p {
  margin-bottom: 0.5rem;
  color: $mandarin;
  text-transform: uppercase;
}
