.pageportal > .row > .column > .box {
  padding: 0 3rem;
}

.pagewrap .pageportal:last-of-type {
  margin-bottom: 30rem;
}

.pageportal {
  margin: 0 auto 40rem;
  width: 1200px;
  max-width: 100%;
  position: relative;
  transition: $transitionOut;
  transform: translateX(-15rem);
  opacity: 0.2;

  .textmodule.content .column,
  .textmodule.image .column {
    @include box-shadow-all();
  }

  .row {
    justify-content: flex-end;
  }

  * {
    transition: $transitionOut;
  }

  .label .hr {
    transition: $transitionOut;
    width: 0;
  }

  .label.transform {
    right: -10rem;
    @include box-shadow-bottom();
    opacity: 0;
    text-transform: uppercase;
    width: 30rem;
    padding: 0;
    background-color: transparent;
  }

  .label.transform a {
    color: #fff;
    padding: 3rem;
    display: block;
    background-color: $mandarin;
  }

  .label.transform a:hover  {
    transform: translateX(-2rem)
  }

  .label.transform a:hover .hr {
    width: 0;
    transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  .label.transparent .hr {
    margin-bottom: 5rem;
  }

  .textmodule {
    position: relative;
  }

  .column:first-of-type {
    flex-basis: 40%;
    max-width: 40%;
  }

  .column:last-of-type {
    flex-basis: 60%;
    max-width: 60%;
  }

  .textmodule.image .column.image {
    transition: $transitionOut;
    transform: translateY(-20rem);
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.pageportal:nth-of-type(odd) .row {
  flex-direction: row-reverse;
}

.pageportal:nth-of-type(odd){
  transform: translateX(30rem);
  .label.transform {
    right: 0;
    left: -10rem;
  }
}

//.pageportal:nth-of-type(3) .textmodule .content .box {
//  background-color: #fff;
//  .label.transparent {
//    color: $royalblue;
//  }
//  a.btn {
//    background-color: $royalblue;
//    color: #fff;
//  }
//}

.pageportal.pearlaqua {
  .textmodule .content .box {
    background-color: $pearlaqua;
  }
}

.pageportal.mandarin {
  .textmodule .content .box {
    background-color: $mandarin;
  }
}

.pageportal.alternate {
  margin-top: 25rem;

  .textmodule.image .column {
    flex-basis: 50%;
    max-width: 50%;
  }

  .textmodule {
    width: 80%;
  }

  .textmodule.image .column {
    position: relative;
  }

  .textmodule .content {
    z-index: 2;
  }
}

.pageportal.active {
  transition: $transitionIn;
  transform: translateX(0);
  z-index: 2;
  opacity: 1;

  .textmodule.image .column.image {
    transition: $transitionIn;
    transform: translateY(0);
  }

  * {
    transition: $transitionIn;
  }

  .label.transform {
    right: 0;
    z-index: 2;
    opacity: 1;
    margin: 0;
  }

  .label .hr {
    transition: $transitionIn;
    transition-delay: 0.5s;
    width: 8rem;
  }

  .textmodule.label {
    opacity: 0;
    transition-delay: 0.3s;
    right: -10rem;
  }
}

.pageportal.active:nth-of-type(odd) {
  transform: translateX(60rem);
  .label.transform {
    left: 0;
  }
}

@media screen and (max-width: 1500px) {
  .pageportal.active:nth-of-type(odd) {
    transform: translateX(50rem);
  }
  .siteintro {
    left: 5rem;
  }
}

@media screen and (max-width: 1230px) {
  .pageportal {
    width: 100rem;
  }
  .pageportal.active:nth-of-type(odd) {
    transform: translateX(40rem);
  }
}

@media screen and (max-width: 1024px) {
  .pageportal {
    transform: translateX(-30rem);
  }
  .pageportal.active {
    transform: translateX(-10rem);
  }
  .pageportal.active:nth-of-type(odd) {
    transform: translateX(20rem);
  }
  .pageportal:nth-of-type(odd) {
    transform: translateX(30rem);
  }
  .pageportal .column:last-of-type {
    flex-basis: 80%;
    max-width: 80%;
  }
  .pageportal.alternate .textmodule {
    width: auto;
  }
  .pageportal.active:nth-of-type(odd) {
    transform: translateX(10rem);
  }
}

@media screen and (max-width: 600px) {
  .pageportal.active:nth-of-type(odd),
  .pageportal.active {
    transform: translateX(0rem);
  }
  .pageportal .column:last-of-type {
    flex-basis: 100%;
    max-width: 100%;
  }
  .pageportal .textmodule .content .box {
    padding: 2rem;
  }
  .pageportal .label.transform a {
    padding: 2rem;
  }
  h4.label {
    font-size: 2rem;
  }
  .pageportal .label.transparent {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .pageportal .label.transform {
    width: 25rem;
  }
  .pageportal {
    margin: 0 auto 35rem;
  }
  .pageportal.alternate {
    margin-top: 0;
  }
  .pageportal.active:nth-of-type(odd) .label.transform {
    left: -2rem;
  }
  .pageportal.active .label.transform {
    right: -2rem;
  }
  .textmodule.image .column.content {
    flex-basis: 60%;
    max-width: 60%;
  }
  .textmodule.image .column.image {
    flex-basis: 40%;
    max-width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .pageportal.active:nth-of-type(odd) .label.transform {
    left: -6rem;
  }
  .pageportal.active .label.transform {
    right: -6rem;
  }
  .textmodule.image .column.content {
    flex-basis: 60%;
    max-width: 60%;
  }
  .textmodule.image .column.image {
    flex-basis: 40%;
    max-width: 40%;
  }
}