.page-id-18 .gmap {
  margin-bottom: 5rem;
}

.page-id-18 .map.FlexContainer {
  margin-top: -12rem;
}

.page-id-18 .map.FlexContainer .column {
  max-width: 100%;
  flex-basis: 100%;
}

.officehours p {
  margin-bottom: 0.5rem;
  color: $mandarin;
  text-transform: uppercase;
}

.page-id-18 .interiorPageContent.FlexContainer .column {
  max-width: 50%;
  flex-basis: 50%;
}

.page-id-18 .interiorPageContent.FlexContainer .column:first-of-type {
  padding: 0 2rem;
}