.page-id-18 .gmap {
  margin-bottom: 5rem;
}

.page-id-18 .map.FlexContainer {
  margin-top: -12rem;
}

.page-id-18 .map.FlexContainer .column {
  max-width: 100%;
  flex-basis: 100%;
}

.officehours p {
  margin-bottom: 0.5rem;
  color: $mandarin;
  text-transform: uppercase;
}

.page-id-18 .interiorPageContent.FlexContainer .column {
  max-width: 40%;
  flex-basis: 40%;
}

.page-id-18 .interiorPageContent.FlexContainer .column:first-of-type {
  padding: 0 2rem;
  max-width: 60%;
  flex-basis: 60%;
}

@media screen and (max-width: 950px) {
  .page-id-18 .interiorPageContent {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .page-id-18 .interiorPageContent.FlexContainer .column,
  .page-id-18 .interiorPageContent.FlexContainer .column:first-of-type {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 3rem;
    padding: 0 2rem;
  }
  .page-id-18 .interiorPageContent.FlexContainer .column:last-of-type {
    margin-bottom: 0;
  }
}