// page portals :

.PageWrap .pageportal:first-of-type {
  margin-top: 6rem;
}

.pageportal {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  margin-bottom: 3rem;
  opacity: 0.5;

  .label,
  .pageportalcontent {
    opacity: 0;
  }

  .textmodule {
    @include box-shadow-bottom();
  }

  .column:first-of-type {
    flex-basis: 40%;
    max-width: 40%;
  }

  .column:last-of-type {
    flex-basis: 60%;
    max-width: 60%;
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.pageportal > .row > .column > .box {
  padding: 0 3rem;
}
