.wavyline {
  position: fixed;
  left: 0;
  top: 50rem;
  width: 40rem;
  z-index: 2;
}

.wavyline svg {
  ellipse,
  path {
    fill: none;
    opacity: 0;
  }

  ellipse:first-of-type,
  path:first-of-type {
    stroke: #fff;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }

  ellipse:last-of-type,
  path:last-of-type {
    stroke: #fff;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
}

.lines {
  transform: rotate(315deg);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 5%;
  opacity: 0.1;

  svg {
    height: 100%;
    width: 100%;
  }

  svg path {
    fill: none;
    stroke: $pearlaqua;
    stroke-width: 10px;
    transform: scale(1);
  }
}
