.specialoffers {
  position: fixed;
  left: 0;
  top: 70rem;
  width: 25rem;
  padding-right: 4rem;
  text-align: right;
  color: $mandarin;
  letter-spacing: 0.2rem;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.3s;
  z-index: 2;
  cursor: pointer;
}

.specialoffers p {
  font-size: 2rem;
}

.specialoffers h4.label {
  padding: 1rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.special-offers .ajaxloader svg {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .specialoffers {
    display: none;
  }
}