.specialoffers {
  position: fixed;
  right: 0;
  top: 1rem;
  width: 25rem;
  text-align: left;
  color: $mandarin;
  letter-spacing: 0.2rem;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.3s;
  z-index: 60;
  cursor: pointer;
}

.specialoffers p {
  font-size: 2rem;
}

.specialoffers h4.label {
  padding: 1rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.special-offers .ajaxloader svg {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .specialoffers {
    width: 20rem;
  }
  .specialoffers h4.label,
  .specialoffers p {
    font-size: 1.4rem;
    margin: 0;
  }
  .specialoffers h4.label {
    padding: .5rem 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .specialoffers {
    width: 15rem;
  }
}