.specialoffers {
  position: fixed;
  right: 0;
  top: 1rem;
  width: 25rem;
  text-align: left;
  color: $mandarin;
  letter-spacing: 0.2rem;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.3s;
  z-index: 60;
  cursor: pointer;
}

.specialoffers p,
.specialoffers h4 {
  margin: 0;
}

.specialoffers p {
  font-size: 1.5rem;;
}

.specialoffers h4.label {
  padding: .8rem;
  line-height: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.specialoffers * {
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.specialoffers:hover h4.label {
  background-color: $pearlaqua;
}

.specialoffers:hover p {
  color: $pearlaqua;
}

.special-offers .ajaxloader svg {
  margin-top: 0;
}

.special-offers .ajaxcontent {
  z-index: 2000;
}

.special-offers img {
  width: 90rem;
}

.special-offers .ajax-close-button {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .specialoffers {
    width: 16rem;
  }
  .specialoffers p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .specialoffers h4.label {
    padding: .5rem;
    line-height: normal;
    text-transform: uppercase;
  }
  .specialoffers p,
  .specialoffers h4.label
  {
    font-size: 1.2rem;
  }
  .specialoffers {
    width: 15rem;
  }
}
