.splashpage {
  display: none;
}

.home .splashpage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  perspective: 800px;
  perspective-origin: 50% 100%;
}

.splashpage svg {
  width: 100%;

  .background {
    fill: $pearlaqua;
  }

  .text {
    fill: $azuerieshwhite;
    opacity: 0;

    &.animate {
      animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }
  }
}

.home .splashpage .morphCircle {
  display: none;
}

.particle {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
}
