.textmodule.image {
  .column {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column.image {
    background-size: cover !important;
    background-position: center center !important;
  }
}

.textmodule .content .box {
  padding: 4rem;
  background-color: $royalblue;
  color: $white;
}

.textmodule .btn:last-child {
  margin-top: 6rem;
}
